/* Denne css er forside.html ikke med i! */

/* css til fonte */
@font-face {
  font-family: "inter";
  src: url(fonts/Inter/static/Inter_18pt-Light.ttf);
}

@font-face {
  font-family: "serif";
  src: url(fonts/Instrument_Serif/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: "inria";
  src: url(fonts/Inria_Serif/InriaSerif-Regular.ttf);
}

@font-face {
  font-family: "sans";
  src: url(fonts/Instrument_Sans/static/InstrumentSans-Regular.ttf);
}

h1 {
  font-family: "sans";
  padding-left: 8rem;
  font-size: xx-large;
}

p {
  font-family: "inria";
  font-size: large;
  padding-left: 8rem;
  padding-right: 8rem;
  word-spacing: 0.1cap;
}

/* css til menuen på de andre sider end forsiden */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute; /* så den ligger over video */
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3rem;
}

.logo {
  font-family: "serif";
  padding: 2rem;
  font-size: xx-large;
}

.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

nav ul {
  font-family: "inter";
  display: flex;
  gap: 4rem;
  list-style: none;
  margin: 0;
  padding: 0 2rem;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #a4a39f; /* valgfri hover-effekt */
}

body {
  background-color: #e1ccb4;
}

footer {
  text-align: center;
  padding: 40px 20px;
  font-family: "serif";
  font-size: 20px;
  color: #666666;
}

footer img {
  margin-top: 5px;
  width: 100px;
}

footer img:hover {
  transform: scale(1.1);
}

.footer-linje {
  height: 2px;
  background-color: white;
  border-color: white;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

/* css til computerne på projekterne */
.computer-foto {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 2rem;
}
